<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="SOLIDplate.Common" version="1.0.0.20250" targetFramework="net45" />
  <package id="SOLIDplate.Common.Portable" version="1.0.0.20250" targetFramework="net45" />
  <package id="SOLIDplate.Domain.Entities" version="1.0.0.20246" targetFramework="net45" />
  <package id="SOLIDplate.Domain.Entities.Interfaces" version="1.0.0.20245" targetFramework="net45" />
  <package id="SOLIDplate.Domain.Services.Interfaces" version="1.0.0.20248" targetFramework="net45" />
  <package id="SOLIDplate.Repository.Interfaces" version="1.0.0.20247" targetFramework="net45" />
</packages>