<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="SOLIDplate.Domain.Entities.Interfaces" version="1.0.0.20245" targetFramework="portable45-net45+win8+wp8" />
</packages>