<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SOLIDplate.Domain.Entities" publicKeyToken="5597254874bb073f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.26615" newVersion="1.0.0.26615" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SOLIDplate.Domain.Entities.Interfaces" publicKeyToken="5597254874bb073f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.26613" newVersion="1.0.0.26613" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SOLIDplate.Data.Services.EntityFramework.Interfaces" publicKeyToken="5597254874bb073f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.26627" newVersion="1.0.0.26627" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SOLIDplate.Data.Interfaces" publicKeyToken="5597254874bb073f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.26656" newVersion="1.0.0.26656" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>